
{{#if successMessage}}
      
          <p>{{successMessage}}</p>
        
    {{/if}}
    

    <a href="/journallist" class="button" type="button" id="edit-button">View and edit journal entries</a>