<h2>Edit Journal</h2>
<h2>{{journal.createdAt}}</h2>

<form action="/journal/{{journal._id}}/edit" method="post">

  <label>

    <input type="text" name="content" class="entry-content" value="{{journal.content}}" />

  </label>

  <button>Save changes</button>

</form>