<img class = "background" src="/images/background.jpg" alt="habits">

<div class="container">
<section class = "journalList">
<div>
  <h3>{{journal.createdAt}}</h3>
  <p>{{journal.content}}</p>
</div>
</div>
</section>

<a href="/journallist" class="button" type="button" id="edit-button">Return to journal entries</a>