<img class = "background" src="/images/background.jpg" alt="habits">

<div class="container">

<form action="/journal/{{journal._id}}/edit" method="post">
<h2>{{journal.createdAt}}</h2>
  <label>

    <textarea type="text" name="content" class="entry-content">{{journal.content}}</textarea>

  </label>

  <button>Save changes</button>

</form>

</div>