<img class = "background" src="./images/background.jpg" alt="habits">

{{#if successMessage}}
        <div class="container">
          <p>{{successMessage}}</p>
        </div>
    {{/if}}
    

    <a href="/journallist" class="button" type="button" id="edit-button">View and edit journal entries</a>