<img class = "background" src="./images/background.jpg" alt="habits">
<br>
<div><h2>Which habit would you like to track?</h2></div>

<section class="habits">
  

<div>
    <img class="title-image" src="./images/wellbeing.png" alt="yoga">
    <div class="button-container">
      <a href="/yoga" class="button-link">
        <button class="habit-button-purple">Yoga</button>
      </a>
    </div>
  </div>

<div>
    <img class="title-image" src="./images/Arm.png" alt="pushups">
    <div class="button-container">
      <a href="/pushups" class="button-link">
        <button class="habit-button-salmon">Push-Ups</button>
      </a>
    </div>
  </div>

  <div>
    <img class="title-image" src="./images/waterGlass.png" alt="water glass">
    <div class="button-container">
      <a href="/water" class="button-link">
        <button class="habit-button-blue">Water</button>
      </a>
    </div>
  </div>
</section>