<h1>Push-Ups: Previous Entries</h1>
<br>
{{#each entriesByDate}}
  <h2>{{@key}}</h2> <!-- Display the date -->
  
  {{#each this}}
    <div>
      <p>Number of Push-Ups: {{content}}</p> 
      
    </div>
  {{/each}}

  <hr>
{{/each}}
