<h1>Push-Ups: Previous Entries</h1>
<br>
{{#each entriesByDate}}
  <h2>{{@key}}</h2> 
  
  {{#each this}}
    <div>
      <p> Duration: {{ content }} minutes</p> 
    </div>
  {{/each}}

  <hr>
{{/each}}


