<img class = "background" src="./images/background.jpg" alt="habits">


<br>
<div class="container">
<div class="form2">
  <h2>Let's build those muscles 💪</h2>
</div>

<div class="form2">
  <form action="/pushups" method="POST">
    <label for="numberOf">Number of Push-Ups:</label>
    <input type="text" name="numberOf" id="numberOf" required><br>
    <button type="submit">Submit</button>
  </form>
  <a href="/entriespushups">
    <button class="habit-button" type="button">Entries</button>
  </a>
</div>
</div>

<script src="/js/entry-interaction.js"></script>