<link rel="stylesheet" href="/stylesheets/style.css" />

<h2>How much water did you drank today?</h2>

<br>
<div id="form">
  <form action="/water" method="POST">
   <label class="resizeinput" for="liters">Liters:</label>
    <input type="text" name="liters" id="liters" required><br><br>
     <button type="submit">Submit</button>
     <a href="/entrieswater">
    <button>entries</button>
    </a>
  </form>
</div>

