<img class = "background" src="./images/background.jpg" alt="habits">

<a href="/water">Return</a>
<br>

<h1>Water: Previous Entries</h1>
<br>
{{#each entriesByDate}}
<div class="container">
  <h2>{{@key}}</h2> 
  
  {{#each this}}
    <div>
      <p>Water: {{content}} Liters</p> 
      
    </div>
    
  {{/each}}

  
  </div>
  <hr>
{{/each}}

