<h3>Yoga</h3>
<br>
<div id="form">
  <form action="/yoga" method="POST">
    <label class="resizeinput" for="minutes">Duration (min):</label>
    <input type="text" name="minutes" id="minutes" required><br><br>
    <button type="submit">Submit</button>
    <br>
    <a href="/entriesyoga">
    <button>entries</button>
    </a>
  </form>
</div>

