<h1>Yoga</h1>
<br>
<form action="/yoga" method="POST">
  <label for="minutes">Duration (min):</label>
  <input type="text" name="minutes" id="minutes" required>
  <button type="submit">Submit</button>
</form>


<a href="/details" class="button-link">
  <button id = "add-habit-button" class="button">View previous entries</button>
</a>