{{!-- 
<ul>
  {{#each entriesYoga}}
    <li>
      Date: {{this.createdAt}}
      Duration (in minutes): {{this.minutes}}
    </li>
  {{/each}}
</ul> --}}

<h1>Yoga: Previous Entries</h1>
<br>
{{#each entriesByDate}}
  <h2>{{@key}}</h2> 
  
  {{#each this}}
    <div>
      <p> Duration (in minutes): {{content}}</p> 
      
    </div>
  {{/each}}

  <hr>
{{/each}}