<img class = "background" src="./images/background.jpg" alt="habits">

<h3>Habitopia helps you to easily capture and organize your thoughts, goals, and daily activities.</h3>

<div id="form">
 
  <form action="/login" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>

    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Login</button>

    <p>Don't have an account? <a href="/signup"> Sign up </a> </p>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>