<p>Which habit would you like to track?</p>

<section class = "habits">

<div>
<img class = "title-image" src="./images/foot.jpg" alt="pushups">
<a href="/pushups" class="button-link">
  <button class="button">Push-Ups</button>
</a>
</div>

<div>
<img class = "title-image" src="./images/yoga 1.jpg" alt="yoga">
<a href="/yoga" class="button-link">
  <button class="button">Yoga</button>
</a>

</div>


<div>
<img class = "title-image" src="./images/water.jpg" alt="water glass">
<a href="/water" class="button-link">
  <button class="button">Water</button>
</a>
</div>

</section>

