<p>Which habit would you like to track?</p>

<section class = "habits">

<div>
<img class = "title-image" src="./images/foot.jpg" alt="footprint">
<a href="/track" class="button-link">
  <button class="button">Sport</button>
</a>
</div>

<div>
<img class = "title-image" src="./images/yoga 1.jpg" alt="yoga pose">
<a href="/track" class="button-link">
  <button class="button">Yoga</button>
</a>

</div>




<div>
<img class = "title-image" src="./images/water.jpg" alt="water glass">
<a href="/track" class="button-link">
  <button class="button">Water</button>
</a>
</div>

</section>

<a href="/addhabit" class="button-link">
  <button id = "add-habit-button" class="button">Add new habit</button>
</a>

