

  <div class="journal-container">
    <div class="previous-entry">
      <div class="entry-date">June 19, 2023</div>
      <div class="entry-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu ultricies est. Aliquam tincidunt purus nunc, eu consectetur mi blandit nec. Duis dictum odio sed consectetur mattis. Suspendisse mollis ante quis metus aliquam, vel tempus est placerat. Sed eleifend justo eu nisi consectetur, id dignissim nunc finibus. Praesent consequat convallis augue, non pellentesque metus maximus sed. Sed in felis nibh.
      </div>
    </div>
    <div class="new-entry">
      <div class="entry-date" id="new-entry-date"></div>
      <div class="entry-content" contenteditable="true">
        What do you want to write today?
      </div>
      <div class="button-container">
        <button class="edit-button">Edit</button>
        <button class="save-button">Save</button>
      </div>
    </div>
  </div>

<script src="/js/journal.js"></script>
