<section class="journal-container">
  <form action="/journal" method="GET">
    <div class="entry">
      <div class="entry-date">June 19, 2023</div>
      <div class="entry-content">
        <!-- Content of the previous entry -->
      </div>
      <br>
      <button class="button" type="submit" id="edit-button">Edit</button>
    </div>
  </form>


<form action="/journal" method="POST">
  <div class="entry">
    
      <div class="entry-date" id="new-entry-date"></div>
      <div class="entry-content" contenteditable="true">
        What do you want to write today?
      </div>
<br>
        
        <button class="buton" type="submit">Save</button>
      </div>
    </form>
  
</section>



<script src="/js/journal.js"></script>
