<h1>Build those muscles</h1>
<br>
<form action="/pushup" method="POST">
  <label for="numberOf">Number of Push-Ups:</label>
  <input type="text" name="numberOf" id="numberOf" required>
  <button type="submit">Submit</button>
</form>


<a href="/details" class="button-link">
  <button id = "add-habit-button" class="button">View and edit previous entries</button>
</a>