<div class="entry-date" id="new-entry-date"></div>

<img class = "title-image" src="./images/water.jpg" alt="water glass">

<a href="/details" class="button-link">
  <button id = "add-habit-button" class="button">View and edit previous entries</button>
</a>

<script src="/js/date.js"></script>