<div class="entry-date" id="new-entry-date"></div>

<img class = "title-image" src="./images/water.jpg" alt="water glass">

<form action="/track" method="POST">
  <label for="numericInput"></label>
  <input type="number" id="numericInput" name="numericData" required>
  <button type="submit">Submit</button>
</form>


<a href="/details" class="button-link">
  <button id = "add-habit-button" class="button">View and edit previous entries</button>
</a>

<script src="/js/date.js"></script>