{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <p id="motivation"></p>

  <p>Last 7 emojis, average emoji and a relevant note? e.g. last week was tough, today is a new day. </p>
  <p>Sport tracker image</p>
  <p>Yoga tracker image</p>
  <p>Water tracker image</p>


{{else}}
  <br /><p>Still no logged-in user, sorry!</p>
{{/if}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/js/user-profile.js"></script>

