{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <p id="motivation"></p>

  <h2>Last 7 check-ins:</h2>

<div id="checkin-container"></div>


{{else}}

  

  <br><p>Still not logged in user, sorry!</p>

 

{{/if}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/js/user-profile.js"></script>