<img class="background" src="./images/background.jpg" alt="habits" />

{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <p class="container" id="motivation"></p>

  <section class="profile-trackers">
    <section class="container">
      <h2>Self check-in</h2>
      <div id="checkin-container"></div>
    </section>

    <section class="container">
      <h2>Pushups</h2>
      <ul class="days">
        <li class="day" id="today-6"></li>
        <li class="day" id="today-5"></li>
        <li class="day" id="today-4"></li>
        <li class="day" id="today-3"></li>
        <li class="day" id="today-2"></li>
        <li class="day" id="today-1"></li>
        <li class="day" id="today"></li>
      </ul>

       <ul class="pushups">
    <li class="pushup" id="pushup-today-6">
    </li>
    <li class="pushup" id="pushup-today-5">
    </li>
    <li class="pushup" id="pushup-today-4">
    </li>
    <li class="pushup" id="pushup-today-3">
    </li>
    <li class="pushup" id="pushup-today-2">
    </li>
    <li class="pushup" id="pushup-today-1">
    </li>
    <li class="pushup" id="pushup-today-0">
    </li>
  </ul>
    </section>

    <section class="container">
      <h2>Yoga</h2>
      <ul class="days">
        <li class="day" id="today-6"></li>
        <li class="day" id="today-5"></li>
        <li class="day" id="today-4"></li>
        <li class="day" id="today-3"></li>
        <li class="day" id="today-2"></li>
        <li class="day" id="today-1"></li>
        <li class="day" id="today"></li>
      </ul>

      <ul class="yogas">
    <li class="yoga" id="yoga-today-6">
    </li>
    <li class="yoga" id="yoga-today-5">
    </li>
    <li class="yoga" id="yoga-today-4">
    </li>
    <li class="yoga" id="yoga-today-3">
    </li>
    <li class="yoga" id="yoga-today-2">
    </li>
    <li class="yoga" id="yoga-today-1">
    </li>
    <li class="yoga" id="yoga-today-0">
    </li>
  </ul>
    </section>

    <section class="container">
      <h2>Water</h2>
      <ul class="days">
        <li class="day" id="today-6"></li>
        <li class="day" id="today-5"></li>
        <li class="day" id="today-4"></li>
        <li class="day" id="today-3"></li>
        <li class="day" id="today-2"></li>
        <li class="day" id="today-1"></li>
        <li class="day" id="today"></li>
      </ul>

      <ul class="waters">
    <li class="water" id="water-today-6">
    </li>
    <li class="water" id="water-today-5">
    </li>
    <li class="water" id="water-today-4">
    </li>
    <li class="water" id="water-today-3">
    </li>
    <li class="water" id="water-today-2">
    </li>
    <li class="water" id="water-today-1">
    </li>
    <li class="water" id="water-today-0">
    </li>
  </ul>
    </section>


{{else}}

  <br /><p>Still not logged in user, sorry!</p>

{{/if}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/js/user-profile.js"></script>
<script src="/js/habit-icons.js"></script>