<h1>How much water did you drank today?</h1>

<br>
<form action="habits/water" method="POST">
  <label for="liters">Liters:</label>
  <input type="text" name="liters" id="liters" required>
  <button type="submit">Submit</button>
</form>


<a href="/details" class="button-link">
  <button id = "add-habit-button" class="button">View and edit previous entries</button>
</a>

