<h1>Yoga</h1>
<br>
<form action="/track/yoga" method="POST">
  <label for="duration">Duration (min):</label>
  <input type="text" name="duration" id="duration" required>
  <button type="submit">Submit</button>
</form>


<a href="/details" class="button-link">
  <button id = "add-habit-button" class="button">View and edit previous entries</button>
</a>