<img class = "background" src="./images/background.jpg" alt="habits">

{{#if successMessage}}
      <div class="container">
          <p>{{successMessage}}</p>
        </div>
    {{/if}}

     <a href="/userProfile" class="button" type="button">Return to user profile</a>